.MainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  h1 {
    font-weight: 600;
    font-size: 1.5em;
  }

  p {
    color:rgb(164, 164, 164);
  }
}
